{% extends 'layouts/auth_layout.html' %}
{% block title %}{{ _('Reset Password') }}{% endblock %}
{% block h2 %}{{ _('Reset Password') }}{% endblock %}
{% block content %}
  <form method="POST">
    <div class="mb-3">
      <label class="form-label">{{ _('New Password') }}</label>
      <input type="password" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">{{ _('Confirm New Password') }}</label>
      <input type="password" name="password_confirm" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-custom w-100 mb-3">{{ _('Reset Password') }}</button>

    <div class="text-center">
      <a href="/login" class="btn-link">{{ _('Back to login') }}</a>
    </div>
  </form>
{% endblock %}
