{% extends 'layouts/auth_layout.html' %}
{% block title %}{{ _('Enter the code') }}{% endblock %}
{% block h2 %}{{ _('Enter the code') }}{% endblock %}
{% block content %}
  <div class="alert">
	<p>{{ _('The code was sent to the email %(email)s') % {"email": email} }}</p>
	<p><a href="/reset-password/change-email" class="btn-link">{{ _('Change email') }}</a></p>
  </div>
  <form method="POST">
    <div class="mb-3">
      <label class="form-label">{{ _('Verification Code') }}</label>
      <input type="text" name="code" class="form-control" required value="{{ request.form.code }}">
    </div>

    <button type="submit" class="btn btn-custom w-100 mb-3">{{ _('Reset Password') }}</button>

    <div class="text-center">
      <a href="/login" class="btn-link">{{ _('Back to login') }}</a>
    </div>
  </form>
{% endblock %}
