<a href="/home" class="nav-link">
	<span class="icon"></span> {{ _('Home') }}
</a>
<a href="/admin" class="nav-link">
	<span class="icon"></span> {{ _('Users') }}
</a>
<a href="/admin/partners" class="nav-link">
	<span class="icon">󰡉</span> {{ _('My partners') }}
</a>
<a href="/admin/support_inbox" class="nav-link">
	<span class="icon">󰘥</span> {{ _('Support Inbox') }}
</a>
<a href="/admin/messages" class="nav-link">
	<span class="icon">󱧌</span> {{ _('Messages') }}
</a>
<a href="/admin/shared_chat" class="nav-link">
	<span class="icon">󱅰</span> {{ _('Shared Chat') }}
</a>
<a href="/logout" class="nav-link">
	<span class="icon">󰠚</span> {{ _('Logout') }}
</a>
