@font-face {
  font-family: 'SymbolsNerdFontMono';
  src: url('/static/fonts/SymbolsNerdFontMono-Regular.ttf') format('truetype');
}

:root {
  --main-color: #9a00ff;
  --text-color: #e0d9ff;
  --second-color: #6600cc;
  --white: #fff;
  --yellow: #ffcc00;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #0a0a0a;
  color: var(--text-color);
  font-family: SymbolsNerdFontMono, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991.98px) {
  body {
    padding-top: 4.1rem;
  }
}

h2,
h4,
.btn-link:hover,
.text-shadow {
  text-shadow: 0 0 10px var(--main-color);
}

h2,
h4,
.btn-link,
.btn-link:visited {
  color: var(--white);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.neon-border {
  border: 2px solid var(--second-color);
  border-radius: 20px;
  box-shadow: 0 0 25px var(--main-color);
}

.container-box {
  background-color: #111;
  padding: 30px;
  margin-top: 30px;
}

.neon-container {
  max-width: 640px;
  margin: 60px auto;
  padding: 40px;
  background: #111;
}

.avatar-vertical {
  width: 100%;
  max-width: 180px;
  aspect-ratio: 2 / 3;
  height: auto;
  object-fit: cover;
  margin: 0 auto 10px;
  display: block;
  border-radius: 15px;
}

.btn {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--main-color);
  transition: all 0.3s ease;
}

.btn:hover,
.nav-top a:hover,
.btn.language-btn:hover,
.offcanvas-body .nav-link:hover,
.change-language a:hover {
  background-color: var(--main-color);
  color: var(--white);
  box-shadow: 0 0 15px var(--main-color);
}

.nav-top,
.change-language {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.nav-top a,
.btn.language-btn,
.change-language a {
  border: 2px solid var(--main-color);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn-link,
.btn-link:visited,
.btn-link:hover,
.nav-top a {
  text-decoration: none;
}

.icon {
  color: var(--main-color);
}

.btn-custom:hover .icon,
.btn-link:hover,
a:hover .icon,
.offcanvas-body .nav-link:hover .icon {
  color: var(--white);
}

.d-grid a {
  font-size: 1.1rem;
}

.not-found-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 90%;
  margin: 5rem auto;
  padding: 2rem;

  font-size: 1.75rem;
  font-weight: bold;
  color: var(--text-color);
}

.error-code {
  font-size: 10rem;
  margin: 0;
  line-height: 1.2;
}

.error-text {
  font-size: 1.75rem;
  margin-top: 1rem;
}

.form-control {
  caret-color: white;
  background-color: #1a1a1a;
  color: var(--white);
  border: 1px solid #444;
}

.form-control:focus {
  color: var(--white);
  background-color: #1a1a1a;
  border-color: #a600ff;
  box-shadow: 0 0 15px #a600ff88;
  outline: none;
}

.form-control:hover {
  box-shadow: 0 0 25px var(--main-color);
}

.btn-custom {
  background: transparent;
  border: 2px solid #8000ff;
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #a600ff !important;
  box-shadow: 0 0 15px #a600ff99;
}

.badge-unread {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  box-shadow: 0 0 5px red;
  line-height: 1;
}

.neon-box {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.03);
}

.btn-link:active {
  color: #a600ff;
}

.dialog-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.unread-dialog {
  border: 2px solid var(--yellow) !important;
  box-shadow: 0 0 12px var(--yellow), 0 0 25px #ffcc00aa;
  color: var(--white) !important;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-item {
  background-color: #0a0a0a;
}

.offcanvas-body .dropdown-menu {
  width: 100%;
}

.offcanvas-body .dropdown-item {
  border-bottom: 1px solid var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: var(--white);
}

.offcanvas-body .dropdown-item:hover {
  color: var(--white);
  background-color: var(--main-color);
}

@media (max-width: 992px) {
  .nav-top {
    display: none;
  }
}

.offcanvas {
  z-index: 1056;
  background-color: #0a0a0a;
  box-shadow: -5px 0 30px var(--main-color);
}

.offcanvas-body {
  padding-left: 0.5rem;
}

.offcanvas-body .nav-link {
  color: var(--white);
  padding: 10px 0;
  padding-left: 10px;
  display: block;
  border-bottom: 1px solid var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: left;
}

.offcanvas-body button.nav-link {
  width: 245px;
  padding-right: 100%;
}

.offcanvas-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.offcanvas-start,
.offcanvas-end {
  width: 280px !important;
  max-width: 80%;
}

.dropdown-toggle::after {
  display: none !important;
  content: none !important;
  border: none !important;
  width: 0 !important;
  height: 0 !important;
}

.navbar-mobile-toggle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: #0a0a0a;
  height: 3.3rem;
}

@media (max-width: 576px) {
  .navbar-mobile-toggle h4 {
    text-align: center;
    font-size: 1.1rem;
    padding-left: 0 !important;
  }
}

@media (max-width: 350px) {
  .navbar-mobile-toggle h4.add_user_title {
    text-align: center;
    font-size: 0.9rem;
    padding-left: 0 !important;
  }

  .navbar-mobile-toggle h4.messages_title {
    text-align: center;
    font-size: 0.82rem;
    padding-left: 0 !important;
  }
}

.navbar-container,
.filters-wrapper,
.filters-wrapper * {
  position: static !important;
}

.dropdown-menu.show-fix {
  right: 0 !important;
  left: auto !important;
  transform: translateY(0.5rem);
  min-width: 250px;
  max-width: 90vw;
  z-index: 1055;
}

.custom-dropdown-menu {
  border: 2px solid var(--second-color);
  background-color: #0a0a0a;
  position: absolute !important;
  right: 0;
  top: 100%;
  min-width: 250px;
  max-width: 90vw;
  transform: translateY(0.5rem);
  z-index: 1055;
  display: none;
  box-shadow: 0 0 5px var(--main-color);
}

.custom-dropdown-menu .form-check-label {
  color: var(--white);
  font-weight: bold;
  text-shadow: 0 0 15px var(--main-color);
}

.dropdown.show .custom-dropdown-menu {
  display: block;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 576px) {
  table {
    font-size: 0.875rem;
  }

  th,
  td {
    white-space: nowrap;
  }
}

.table {
  background-color: rgba(40, 0, 60, 0.2);
  /* полупрозрачный фиолетовый */
  color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px var(--main-color);
}

.table th,
.table td {
  border: 1px solid var(--second-color);
  padding: 0.75rem;
  vertical-align: middle;
  background-color: rgba(20, 0, 40, 0.3);
}

.table th {
  background-color: rgba(80, 0, 130, 0.5);
  color: var(--yellow);
  font-weight: bold;
  text-shadow: 0 0 5px var(--main-color);
}

.table-hover tbody tr:hover {
  background-color: rgba(150, 0, 255, 0.2);
  box-shadow: inset 0 0 10px var(--main-color);
}

.table-bordered {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
}

.table-responsive {
  border-radius: 20px;
  box-shadow: 0 0 25px var(--main-color);
  padding: 0;
  margin-top: 2rem;
}

.table td:nth-child(1),
.table td:nth-child(2),
.table td:nth-child(4) {
  color: var(--white);
  text-shadow: 0 0 10px var(--main-color);
}

.auth_note {
  color: #32CD32;
  text-shadow: 0 0 6px #00FFFF;
}

.card {
  background-color: #0a0a0a !important;
}
